/* BUTTONS */

.button {
    display: inline-block;
    background-color: $color-accent;
    color: #fff;
    text-decoration: none;
    padding: 1em;
    border-radius: 5px;

    &:hover {
        background-color: $color-accent-dark;
    }
}

